::-webkit-scrollbar-thumb {
  background-color: #3779fd;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
* {
  font-family: 'Albert Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}